@media screen and (max-width:576px) {
body{
    max-width: 576px;
}
header{
    margin: 65px 20px 0 20px;
    width: 100%;
}
.menu-items{
        flex-direction: column;
    }

    .banner{
        width: 335px;
        height: 483px;

    }
}