@media screen and (max-width:576px) {
body{
    max-width:576px;
}

header{
    margin: 0;
}

.website-name{
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-left: 20px;
}

.website-name img{
    height: 33.516px;
}

.website-name h2{
    font-size: 21px;
}

.menu-items{
        flex-direction: column;
        margin-left: 300px;
}

.banner{
    width: 450px;
    height: 500px;
    margin: auto;
    background-position: center;
}
 .banner-container{
    text-align: center;
    padding: 14px 24px;
    justify-content: center;
 }
.banner-container-title{
        font-size: 22px;     
}
.banner-container-description{
    font-size: 14px;
} 
.form-fillup{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 16px;
    gap: 16px;
    width: 250px;
    margin-left: 60px;
}
.repeat{
    width: 240px;
    height: 30px;
    justify-content: center;
}
.find-now{
    width: 250px;
    height: 50px;
    padding: 20px;
}


.first-main-section{
    flex-direction: column;
    gap: 0;
    padding-left: 20px;
    margin: 0;
}

.main-img{
    margin-top: 0;
}

.destination-section{
    padding-left: 20px;
    margin: 0;
}
.row{
    flex-direction: column;
    height: auto;
}
.row img{
    width: 100%;
}

.maldives, .indonesia, .srilanka, .northamerica, .kashmir, .bangladesh, .bandarban
  {
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
  }

  .maldives{
    left: 250px;
    top: 2200px;
  }

  .maldives:hover{
    transform:scale(2.1)
  }

.indonesia{
    left: 250px;
    top: 2500px;
  }

  .indonesia:hover{
    transform:scale(2.1)
  }

.srilanka{
    left: 250px;
    top: 2900px;
}

.srilanka:hover{
    transform:scale(2.1)
  }

.northamerica{
    left: 200px;
    top: 3350px;
}
.northamerica:hover{
    transform:scale(2.1)
}

.kashmir{
    left: 250px;
    top: 3800px;
}
.kashmir:hover{
    transform: scale(2.1);
}
.bangladesh{
    left: 230px;
    top: 4350px;
}
.bangladesh:hover{
    transform: scale(2.1);
}
.bandarban{
    left: 230px;
    top: 4700px;
}
.bandarban:hover{
    transform: scale(2.1);
}

.service-section{
    padding-left: 20px;
    margin: 0;
}
.service-container{
    flex-direction: column;
}
.service-container-3{
    margin-left: 0;
}
.service-container-1 , .service-container-2, .service-container-3{
    width: auto;
}

/* Unique section responsive */
.different-section{
    padding: 0;
    margin: 0;
}

.travel-box-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width:500px ;
    border-style: none;
    background-color: white;
}

/* newsletter section responsive */
.newsletter{
    padding-left: 20px;
    margin: 0;
}
.newsletter-divs{
    flex-direction: column;
    gap: 24px;
}
.newsletter-containers{
   margin-top: 20px;
   width: auto;
}
.newsletter-containers .hr{
    width: 410px;
    margin-left: 10px;
}
.newsletter-field-button{
   width: 430px;
}

.save img{
    width: 580px;
}

.save .savings{
    padding: 40px;
    width: 214.023px;
    height: 79.268px;
    position: absolute;
    left: 300px;
    top: 8000px;
    transform: rotate(-24deg);
    transition: transform;
}

.savings:hover{
    transform: scale(1.2) rotate(-24deg);
}

/* responsive footer section */
.footer-section{
    margin-top:  50px;
    padding-top: 30px;
    width: 620px; 
    height: 350px; 
    background: rgba(19, 19, 24, 0.05);
}

.website-name-2 h2{ 
    font-size: 26px;
}

.footer-section .img-2{
            margin-top: 30px;
            margin-bottom: 30px;
}
.footer-section .hr-2{
    margin-bottom: 20px;
    width: 300px;
}
.footer-section .finish{
    margin-bottom: 20px;
}

}





















